In [ ]:
the_list = range(3, 10) # range creates a sequence of values between the two arguments
for i in the_list:
    i+=1
    print(i)

In [ ]:
#while loops
x=0
while x<10:
    x+=1
    print(x)

In [2]:
#conditions IF-THEN
x=4
y=5
if x==y:
    print("x and y are equal")
elif x<y:
    print("x is less than y")
else:
    print("x is greater than y")

x is less than y

In [11]:
# Create DataFrames
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df1 = pd.DataFrame(technologies,index=index_labels)

technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)

print(df1)
print(df2)

# pandas.merge() by Column
df3=pd.merge(df1,df2)

# DataFrame.merge() by Column
df3=df1.merge(df2)

# Merge DataFrames by Column
df3=pd.merge(df1,df2, on='Courses')
#print(df3)

# When column names are different
df4=pd.merge(df1,df2, left_on='Courses', right_on='Courses')
#print(df4)

# By using concat()
df5=pd.concat([df1,df2],axis=1,join='inner')
#print(df5)

    Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days
   Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000
   Courses    Fee Duration Courses  Discount
r1   Spark  20000   30days   Spark      2000
r3  Python  22000   35days  Python      1200

In [14]:
import pandas as pd
import numpy as np
technologies = ({
     'Courses':["Spark","Java","Hadoop","Python","pandas"],
     'Fee' :[20000,np.nan,26000,np.nan,24000],
     'Duration':['30days',np.nan,'35days','40days',np.nan],
     'Discount':[1000,np.nan,2500,2100,np.nan]
               })
df = pd.DataFrame(technologies)
print(df)

# Checking NaN on entire DataFrame
value = df.isnull().values.any()
print(value)

# Checking on Single Column
value = df['Fee'].isnull().values.any()
print(value) 

# Checking on Single Column
value = df['Courses'].isnull().values.any()
print(value) 

# Checking on multiple columns
value = df[['Fee','Duration']].isnull().values.any()
print(value) 

# Using DataFrame.isnull() method
df2 = df['Fee'].isnull()
print(df2)

# Count NaN on entire DataFrame
result = df.isnull().sum()
print(result)

# Counte NaN on single column of DataFrame
result = df['Fee'].isnull().sum()
print(result)

# Counte NaN on selected columns of DataFrame
result = df[['Fee','Duration']].isnull().sum()
print(result)

# To get the Count
count = df.isnull().sum().sum()
print('Number of NaN values present:' +str(count))

  Courses      Fee Duration  Discount
0   Spark  20000.0   30days    1000.0
1    Java      NaN      NaN       NaN
2  Hadoop  26000.0   35days    2500.0
3  Python      NaN   40days    2100.0
4  pandas  24000.0      NaN       NaN
True
True
False
True
0    False
1     True
2    False
3     True
4    False
Name: Fee, dtype: bool
Courses     0
Fee         2
Duration    2
Discount    2
dtype: int64
2
Fee         2
Duration    2
dtype: int64
Number of NaN values present:6